# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
.expo/
.turbo/
*.tsbuildinfo

# Env / secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Mobile
*.apk
*.aab
*.ipa

# OS / editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Supabase
supabase/.branches
supabase/.temp
